Subflows/API Call
[
    {
        "id": "b41ec17ea1c8bffa",
        "type": "subflow",
        "name": "API Call",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "39ceb277c5992a1b"
                    },
                    {
                        "id": "c3649d0edb4c4de7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "2e3b2a766eae752d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 720,
                "y": 120,
                "wires": [
                    {
                        "id": "ff55a2fa1c5f971f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ff55a2fa1c5f971f",
        "type": "junction",
        "z": "b41ec17ea1c8bffa",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "39510b55ea9829f3"
            ]
        ]
    },
    {
        "id": "f30439facb59c646",
        "type": "http request",
        "z": "b41ec17ea1c8bffa",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "2e3b2a766eae752d"
            ]
        ]
    },
    {
        "id": "39ceb277c5992a1b",
        "type": "function",
        "z": "b41ec17ea1c8bffa",
        "name": "url",
        "func": "// var DN = msg.payload.Device.Device;\n// var IP = msg.payload.Device.IP;\n// var ID = msg.payload.Device.ID;\n// var Topic = msg.topic;\n\n// msg.url = \"http://\" + IP + \":8081/zeroconf/\" + Topic;\n\n// msg.payload = {\n//     \"deviceid\": ID,\n//     \"data\": msg.payload\n//     };\n    \n// return msg;\n\n\n\nvar DEVICE = msg.payload.Device;\n\nvar Topic = msg.topic;\n\nmsg.url = \"http://\" + msg.payload.Device.IP + \":8081/zeroconf/\" + Topic;\n\nmsg.payload = {\n    \"deviceid\": msg.payload.Device.ID,\n    \"data\": msg.payload,\n    \"Device\": msg.payload.Device\n    };\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "f30439facb59c646",
                "ff55a2fa1c5f971f"
            ]
        ]
    },
    {
        "id": "2e3b2a766eae752d",
        "type": "change",
        "z": "b41ec17ea1c8bffa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Device",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c3649d0edb4c4de7",
        "type": "change",
        "z": "b41ec17ea1c8bffa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Device",
                "pt": "flow",
                "to": "payload.Device",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "39510b55ea9829f3",
        "type": "debug",
        "z": "b41ec17ea1c8bffa",
        "name": "BORK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    }
]
