Subflows/Sonoff2
[
    {
        "id": "f92a0611f953efce",
        "type": "subflow",
        "name": "Sonoff1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c0becc4593cc906a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 80,
                "wires": [
                    {
                        "id": "d940b9cb3c569ab2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 180,
                "wires": [
                    {
                        "id": "c0becc4593cc906a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c0becc4593cc906a",
        "type": "function",
        "z": "f92a0611f953efce",
        "name": "function 15",
        "func": "\nmsg.url = \"http://\" + msg.Device.sonoffIP + \":8081/zeroconf/\" + msg.topic;\n\nmsg.payload = {\n    \"deviceid\": msg.Device.sonoffID,\n    \"data\": msg.payload\n    };\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "d940b9cb3c569ab2"
            ]
        ]
    },
    {
        "id": "d940b9cb3c569ab2",
        "type": "http request",
        "z": "f92a0611f953efce",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ccab8793870fae40",
        "type": "subflow",
        "name": "Sonoff2",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "09ea1e6b51ccc346"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 80,
                "wires": [
                    {
                        "id": "05cf6b923ffc42e8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 460,
                "y": 120,
                "wires": [
                    {
                        "id": "05cf6b923ffc42e8",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "05cf6b923ffc42e8",
        "type": "subflow:f92a0611f953efce",
        "z": "ccab8793870fae40",
        "name": "",
        "x": 340,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "09ea1e6b51ccc346",
        "type": "change",
        "z": "ccab8793870fae40",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "05cf6b923ffc42e8"
            ]
        ]
    }
]
