Flows/DIY Mode MiniR3
[
    {
        "id": "9af5bfd06b294546",
        "type": "tab",
        "label": "DIY Mode MiniR3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b2feea52958eb88",
        "type": "mqtt in",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/stat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b8f3330d4af5f7f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "1b5c0710c5e7c103"
            ]
        ]
    },
    {
        "id": "1b5c0710c5e7c103",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "debug 122",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "decfb1bf26c0244f",
        "type": "mqtt in",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/response",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b8f3330d4af5f7f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "43840fd0e056a6ce"
            ]
        ]
    },
    {
        "id": "43840fd0e056a6ce",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "debug 123",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "c3972a9427d64087",
        "type": "mqtt in",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/Formatted",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b8f3330d4af5f7f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "d91df986fcbc3276"
            ]
        ]
    },
    {
        "id": "49f677b06141c4d3",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "debug 124",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4b849bd23b78851",
        "type": "mqtt in",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/DEBUG",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b8f3330d4af5f7f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "893957d6045e9098"
            ]
        ]
    },
    {
        "id": "893957d6045e9098",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "debug 125",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "2207538d1d3ba171",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "MiniR2",
        "info": "[BASICR3/RFR3/MINI HTTP API](\nhttps://sonoff.tech/sonoff-diy-developer-documentation-basicr3-rfr3-mini-http-api/#7)",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "a497e1b7b9ee0a78",
        "type": "config",
        "z": "9af5bfd06b294546",
        "name": "",
        "properties": [
            {
                "p": "Sonoff.Device",
                "pt": "flow",
                "to": "MiniR3_DIY",
                "tot": "str"
            },
            {
                "p": "Sonoff.IP",
                "pt": "flow",
                "to": "MiniR3_DIY.tinkernet.ca",
                "tot": "str"
            },
            {
                "p": "Sonoff.ID",
                "pt": "flow",
                "to": "10017766a6",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "ddce0938840b0583",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "Check it",
        "props": [
            {
                "p": "payload.Device",
                "v": "Sonoff",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 960,
        "y": 120,
        "wires": [
            [
                "f3814143bc95a969"
            ]
        ]
    },
    {
        "id": "f3814143bc95a969",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Device",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "d91df986fcbc3276",
        "type": "function",
        "z": "9af5bfd06b294546",
        "name": "function 34",
        "func": "var original = msg.payload;\n\nmsg.payload =\nmsg.topic +\n\"\\n\\n\" +\noriginal;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "49f677b06141c4d3"
            ]
        ]
    },
    {
        "id": "5a3c4d6a2c847327",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "Request Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"Status\"}",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "d48b258b3655921e"
            ]
        ]
    },
    {
        "id": "92ff322d03e5b1fb",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "bb55bd8c31b9fd83",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "104",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "d48b258b3655921e",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "bb55bd8c31b9fd83",
                "e80b84a7f58425d2"
            ]
        ]
    },
    {
        "id": "ba599c28902cb89f",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "284de102ddce33f1",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"switching\",\"SwitchNum\":\"0\",\"Action\":\"off\"}",
        "payloadType": "json",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "bc90cd7b4789b544"
            ]
        ]
    },
    {
        "id": "a612e28e8852239d",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "108",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 400,
        "wires": []
    },
    {
        "id": "2e547f4c4a489c40",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "ba9c8d676510fef5",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "on 2k ms",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"inching\",\"Action\":\"on\",\"Length\":2000}",
        "payloadType": "json",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "9ec5715012575f91"
            ]
        ]
    },
    {
        "id": "94b4637f1cbfa783",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "109",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 640,
        "wires": []
    },
    {
        "id": "1efc49b5a9fdf054",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "86565f91d9c54ff0",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"POS\",\"Action\":\"on\"}",
        "payloadType": "json",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "5701d23c69cdb841"
            ]
        ]
    },
    {
        "id": "c83591303af464ac",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "110",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "8c80c290a27c4223",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"switching\",\"SwitchNum\":\"0\",\"Action\":\"on\"}",
        "payloadType": "json",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "bc90cd7b4789b544"
            ]
        ]
    },
    {
        "id": "7cf7125f61c844e5",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"switching\",\"SwitchNum\":\"0\",\"Action\":\"toggle\"}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "bc90cd7b4789b544"
            ]
        ]
    },
    {
        "id": "7967c52d0c2e30a2",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"switching\",\"SwitchNum\":\"0\",\"Action\":\"status\"}",
        "payloadType": "json",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "bc90cd7b4789b544"
            ]
        ]
    },
    {
        "id": "bc90cd7b4789b544",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "a612e28e8852239d",
                "a9dab2d4ab44825b"
            ]
        ]
    },
    {
        "id": "757d4ccec55bb59b",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "bork",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"switching\",\"SwitchNum\":\"0\",\"Action\":\"bork\"}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "bc90cd7b4789b544"
            ]
        ]
    },
    {
        "id": "9ec5715012575f91",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "94b4637f1cbfa783",
                "dbbef55edbd24173"
            ]
        ]
    },
    {
        "id": "91137c7d733330b8",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"inching\",\"Action\":\"off\",\"Length\":0}",
        "payloadType": "json",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "9ec5715012575f91"
            ]
        ]
    },
    {
        "id": "a89200cc6d72f7db",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "on 500 ms",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"inching\",\"Action\":\"on\",\"Length\":500}",
        "payloadType": "json",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "9ec5715012575f91"
            ]
        ]
    },
    {
        "id": "dca1c1dd0d38a4e5",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"inching\",\"SwitchNum\":\"0\",\"Action\":\"status\"}",
        "payloadType": "json",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "9ec5715012575f91"
            ]
        ]
    },
    {
        "id": "5701d23c69cdb841",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 320,
        "wires": [
            [
                "c83591303af464ac",
                "d31774f4eb7837b8"
            ]
        ]
    },
    {
        "id": "375142b3f4437587",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"POS\",\"Action\":\"off\"}",
        "payloadType": "json",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "5701d23c69cdb841"
            ]
        ]
    },
    {
        "id": "91e8ba7bb03b2115",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "stay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"SwitchNum\":\"0\",\"Function\":\"POS\",\"Action\":\"stay\"}",
        "payloadType": "json",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "5701d23c69cdb841"
            ]
        ]
    },
    {
        "id": "6c395552c378c89e",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"POS\",\"SwitchNum\":\"0\",\"Action\":\"status\"}",
        "payloadType": "json",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "5701d23c69cdb841"
            ]
        ]
    },
    {
        "id": "cd4d7f0ca152ac46",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "Device Info",
        "info": "",
        "x": 80,
        "y": 240,
        "wires": []
    },
    {
        "id": "4fb5c905721c3975",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "Switch",
        "info": "",
        "x": 70,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0f587dbb436fefb",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "Inching",
        "info": "",
        "x": 70,
        "y": 600,
        "wires": []
    },
    {
        "id": "65f4c6817cc4ff96",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "Power On State",
        "info": "",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "70b911f55acf9fe8",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 540,
        "wires": [
            [
                "cf19cdc2bb5024af",
                "8193729fd747f013"
            ]
        ]
    },
    {
        "id": "38422e67d4d71504",
        "type": "change",
        "z": "9af5bfd06b294546",
        "name": "poop",
        "rules": [
            {
                "t": "set",
                "p": "payload.Device",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 720,
        "wires": [
            [
                "a5e0c1bb37ec5fd5",
                "557123be3281ee4a"
            ]
        ]
    },
    {
        "id": "cf19cdc2bb5024af",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "120",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "a5e0c1bb37ec5fd5",
        "type": "debug",
        "z": "9af5bfd06b294546",
        "name": "121",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "b29a4dfcbb4be126",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "1f632ef7288c02fd",
        "type": "mqtt out",
        "z": "9af5bfd06b294546",
        "name": "",
        "topic": "Sonoff_DIY/cmnd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f3330d4af5f7f3",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "3a85b1459e4123ba",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "557123be3281ee4a"
            ]
        ]
    },
    {
        "id": "557123be3281ee4a",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "1f632ef7288c02fd"
            ]
        ]
    },
    {
        "id": "4062366406e96fbf",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "8193729fd747f013"
            ]
        ]
    },
    {
        "id": "8193729fd747f013",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "b29a4dfcbb4be126"
            ]
        ]
    },
    {
        "id": "e0a2d09c8fa40c7d",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "a9dab2d4ab44825b"
            ]
        ]
    },
    {
        "id": "a9dab2d4ab44825b",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "ba599c28902cb89f"
            ]
        ]
    },
    {
        "id": "abf9ea86c80da307",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "dbbef55edbd24173"
            ]
        ]
    },
    {
        "id": "dbbef55edbd24173",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "2e547f4c4a489c40"
            ]
        ]
    },
    {
        "id": "c36fbcbe2b96cefc",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "d31774f4eb7837b8"
            ]
        ]
    },
    {
        "id": "d31774f4eb7837b8",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "1efc49b5a9fdf054"
            ]
        ]
    },
    {
        "id": "a1f858f7293d91ee",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "toggle",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "e80b84a7f58425d2"
            ]
        ]
    },
    {
        "id": "e80b84a7f58425d2",
        "type": "gate",
        "z": "9af5bfd06b294546",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "92ff322d03e5b1fb"
            ]
        ]
    },
    {
        "id": "f1893b4370914592",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "turns off switch...",
        "info": "",
        "x": 300,
        "y": 720,
        "wires": []
    },
    {
        "id": "887ff595bc3b703a",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "WiFi",
        "info": "",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "d51636e2fc607ed8",
        "type": "comment",
        "z": "9af5bfd06b294546",
        "name": "OTA commands",
        "info": "",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "74eaa47dc870accd",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "signal",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "signal_strength",
        "payload": "{\"Function\":\"WiFi\",\"Action\":\"Signal_Strength\"}",
        "payloadType": "json",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "70b911f55acf9fe8"
            ]
        ]
    },
    {
        "id": "2bd3a519059cafc3",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "creds",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "wifi",
        "payload": "{\"Function\":\"WiFi\",\"Action\":\"Configure\",\"ssid\":\"yourSSID\",\"password\":\"yourPASS\"}",
        "payloadType": "json",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "70b911f55acf9fe8"
            ]
        ]
    },
    {
        "id": "6223fe383153c9ce",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "Unlock",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ota_unlock",
        "payload": "{\"Function\":\"OTA\",\"Action\":\"OTA_unlock\"}",
        "payloadType": "json",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "38422e67d4d71504"
            ]
        ]
    },
    {
        "id": "c1e69dc6438f9bdf",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "Flash",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ota_flash",
        "payload": "{\"Function\":\"OTA\",\"Action\":\"OTA_flash\",\"downloadUrl\":\"http://192.168.1.112/ota/firmware.bin\",\"sha256sum\":\"123sa32s1da2354f9874fewsd21s6afd49wf4wefs1df59\"}",
        "payloadType": "json",
        "x": 710,
        "y": 720,
        "wires": [
            [
                "38422e67d4d71504"
            ]
        ]
    },
    {
        "id": "ead0fe7a1ce3bb3c",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"WiFi\",\"Action\":\"status\"}",
        "payloadType": "json",
        "x": 730,
        "y": 580,
        "wires": [
            [
                "70b911f55acf9fe8"
            ]
        ]
    },
    {
        "id": "b16eb194a409245b",
        "type": "inject",
        "z": "9af5bfd06b294546",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MiniR2_DIY",
        "payload": "{\"Function\":\"OTA\",\"Action\":\"status\"}",
        "payloadType": "json",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "38422e67d4d71504"
            ]
        ]
    },
    {
        "id": "b8f3330d4af5f7f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
