Flows/MiniR2
[
    {
        "id": "ccab8793870fae40",
        "type": "subflow",
        "name": "Sonoff2",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "09ea1e6b51ccc346"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 80,
                "wires": [
                    {
                        "id": "05cf6b923ffc42e8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 460,
                "y": 120,
                "wires": [
                    {
                        "id": "05cf6b923ffc42e8",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "05cf6b923ffc42e8",
        "type": "subflow:f92a0611f953efce",
        "z": "ccab8793870fae40",
        "name": "",
        "x": 340,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "09ea1e6b51ccc346",
        "type": "change",
        "z": "ccab8793870fae40",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "05cf6b923ffc42e8"
            ]
        ]
    },
    {
        "id": "f92a0611f953efce",
        "type": "subflow",
        "name": "Sonoff1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c0becc4593cc906a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 80,
                "wires": [
                    {
                        "id": "d940b9cb3c569ab2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 180,
                "wires": [
                    {
                        "id": "c0becc4593cc906a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c0becc4593cc906a",
        "type": "function",
        "z": "f92a0611f953efce",
        "name": "function 15",
        "func": "\nmsg.url = \"http://\" + msg.Device.sonoffIP + \":8081/zeroconf/\" + msg.topic;\n\nmsg.payload = {\n    \"deviceid\": msg.Device.sonoffID,\n    \"data\": msg.payload\n    };\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "d940b9cb3c569ab2"
            ]
        ]
    },
    {
        "id": "d940b9cb3c569ab2",
        "type": "http request",
        "z": "f92a0611f953efce",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b763ad70f39bf59d",
        "type": "function",
        "z": "f92a0611f953efce",
        "name": "function 18",
        "func": "var x = msg.payload;\nvar y = msg.topic;\n\n\nvar IP = msg.Device.sonoffIP;\nvar ID = msg.Device.sonoffID;\n\nmsg.url = \"http://\" + IP + \":8081/zeroconf/\" + y;\n\n// if (msg.Device.sonoffID.length === 0){\n    // msg.payload = {\n    //  \"data\": x\n    // }\n// } else {\nmsg.payload = {\n    \"deviceid\": ID,\n    \"data\": x\n    };\n    \n// }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "078e5b931cd81fbd",
        "type": "tab",
        "label": "MiniR2 DIY Mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64d70c073022add6",
        "type": "junction",
        "z": "078e5b931cd81fbd",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "decd254eb79e4393"
            ]
        ]
    },
    {
        "id": "53c173a5bd4d33dc",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Set ID & Address",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "10017d36b5",
        "payload": "esp_e2a76e.tinkernet.ca",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6081842ac726e400"
            ]
        ]
    },
    {
        "id": "cc6accca4a1df69c",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "MiniR2",
        "info": "[BASICR3/RFR3/MINI HTTP API](\nhttps://sonoff.tech/sonoff-diy-developer-documentation-basicr3-rfr3-mini-http-api/#7)",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "8b134979394f831d",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Inching ON (500 ms)",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pulse",
        "payload": "{\"pulse\":\"on\",\"pulseWidth\":500}",
        "payloadType": "json",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "981f5a5904631488"
            ]
        ]
    },
    {
        "id": "172b2c5b73d45372",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Inching OFF",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pulse",
        "payload": "{\"pulse\":\"off\"}",
        "payloadType": "json",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "981f5a5904631488"
            ]
        ]
    },
    {
        "id": "dea73846fe929b0a",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Inching ON (2k ms)",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pulse",
        "payload": "{\"pulse\":\"on\",\"pulseWidth\":2000}",
        "payloadType": "json",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "981f5a5904631488"
            ]
        ]
    },
    {
        "id": "8bc047b6b679e440",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Startup ON",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "startup",
        "payload": "{\"startup\":\"on\"}",
        "payloadType": "json",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "1cbc7ddab0c6f00d"
            ]
        ]
    },
    {
        "id": "df739a7e62dbf794",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "OTA commands",
        "info": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "4438c97de1d5de0d",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "WiFi",
        "info": "",
        "x": 130,
        "y": 720,
        "wires": []
    },
    {
        "id": "06505d2b5cfc6bcf",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "Device info/Status",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "a5e2f383cca08cc3",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "Switching",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "68387bb26423775b",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "Inching",
        "info": "",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "4d100434b62e923f",
        "type": "comment",
        "z": "078e5b931cd81fbd",
        "name": "Power-on State",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "72f8c4809386646b",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Status",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "info",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "310817d5469f8deb"
            ]
        ]
    },
    {
        "id": "20d6c715c0d3b133",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "WiFi signal",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "signal_strength",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "b8d36664c529b795"
            ]
        ]
    },
    {
        "id": "7cc9e3d01575a7d2",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "d": true,
        "name": "WiFi creds",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "wifi",
        "payload": "{\"ssid\": \"yourSSID\", \"password\": \"yourPASS\"}",
        "payloadType": "json",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "b8d36664c529b795"
            ]
        ]
    },
    {
        "id": "79776c2a673f4660",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "OTA Unlock",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ota_unlock",
        "payload": "{}",
        "payloadType": "json",
        "x": 690,
        "y": 760,
        "wires": [
            [
                "d62b0e0fd6b98df4"
            ]
        ]
    },
    {
        "id": "fc78d3198b0dac23",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "OTA Flash",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ota_flash",
        "payload": "{\"downloadUrl\": \"http://192.168.1.112/ota/firmware.bin\",          \"sha256sum\"  : \"123sa32s1da2354f9874fewsd21s6afd49wf4wefs1df59\"}",
        "payloadType": "json",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "d62b0e0fd6b98df4"
            ]
        ]
    },
    {
        "id": "0e3e879990c7ed2c",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Startup OFF",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "startup",
        "payload": "{\"startup\":\"off\"}",
        "payloadType": "json",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "1cbc7ddab0c6f00d"
            ]
        ]
    },
    {
        "id": "d744c2bf6a7e7ef0",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Startup STAY",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "startup",
        "payload": "{\"startup\":\"stay\"}",
        "payloadType": "json",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "1cbc7ddab0c6f00d"
            ]
        ]
    },
    {
        "id": "474c9b22a91688e1",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "filter",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.deviceid",
                "pt": "msg",
                "to": "tmp.deviceid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.ssid",
                "pt": "msg",
                "to": "tmp.ssid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.signalStrength",
                "pt": "msg",
                "to": "tmp.signalStrength",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.bssid",
                "pt": "msg",
                "to": "tmp.bssid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "tmp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 820,
        "wires": [
            [
                "08e41b6b38f84749"
            ]
        ]
    },
    {
        "id": "9f92f6c9c54a7256",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b3732a3c826380c",
        "type": "link in",
        "z": "078e5b931cd81fbd",
        "name": "link in 3",
        "links": [
            "d4b37c3217908f8e",
            "08e41b6b38f84749",
            "6ff953e26a3491b4",
            "b3fb5995294a081a",
            "186ceda3c68d6c31",
            "de2851b6e626f350",
            "5fab54d1c8a48e3a",
            "cc422b10b29ae84b",
            "4f6db808dd3b143f",
            "0e454f4c2af11e4e",
            "a240970d14ab8558",
            "c41cf2d35ea7c24f",
            "8eaab68b4bc928a5",
            "a7b7ca071d01ed40",
            "c5e28c75331a88ea",
            "648d754dc810baee"
        ],
        "x": 925,
        "y": 60,
        "wires": [
            [
                "9f92f6c9c54a7256"
            ]
        ]
    },
    {
        "id": "08e41b6b38f84749",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "64e07c62cee2bad8",
            "41e65cc5032897c7",
            "7e31458b04a15e99"
        ],
        "x": 505,
        "y": 820,
        "wires": []
    },
    {
        "id": "6ff953e26a3491b4",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "64e07c62cee2bad8",
            "41e65cc5032897c7",
            "7e31458b04a15e99"
        ],
        "x": 1085,
        "y": 820,
        "wires": []
    },
    {
        "id": "b3fb5995294a081a",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "64e07c62cee2bad8",
            "41e65cc5032897c7",
            "7e31458b04a15e99"
        ],
        "x": 1125,
        "y": 620,
        "wires": []
    },
    {
        "id": "186ceda3c68d6c31",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "64e07c62cee2bad8",
            "41e65cc5032897c7",
            "7e31458b04a15e99"
        ],
        "x": 505,
        "y": 640,
        "wires": []
    },
    {
        "id": "c42232245be4b814",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "filter",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.deviceid",
                "pt": "msg",
                "to": "tmp.deviceid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.pulseWidth",
                "pt": "msg",
                "to": "tmp.pulseWidth",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.pulse",
                "pt": "msg",
                "to": "tmp.pulse",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "tmp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "b3fb5995294a081a"
            ]
        ]
    },
    {
        "id": "2a486f4481614be6",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "filter",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.deviceid",
                "pt": "msg",
                "to": "tmp.deviceid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.startup",
                "pt": "msg",
                "to": "tmp.startup",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "tmp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "186ceda3c68d6c31"
            ]
        ]
    },
    {
        "id": "0d80f5df7b18505f",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "filter",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.deviceid",
                "pt": "msg",
                "to": "tmp.deviceid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.otaUnlock",
                "pt": "msg",
                "to": "tmp.otaUnlock",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "tmp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 820,
        "wires": [
            [
                "6ff953e26a3491b4"
            ]
        ]
    },
    {
        "id": "d62b0e0fd6b98df4",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "d": true,
        "name": "",
        "x": 880,
        "y": 760,
        "wires": [
            [
                "d00b47946b45cdec",
                "a11b9fcece3ae8e5"
            ],
            []
        ]
    },
    {
        "id": "5fab54d1c8a48e3a",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "64e07c62cee2bad8",
            "41e65cc5032897c7",
            "7e31458b04a15e99"
        ],
        "x": 675,
        "y": 160,
        "wires": []
    },
    {
        "id": "310817d5469f8deb",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "5fab54d1c8a48e3a",
                "ac2d9823a6614957"
            ],
            [
                "54466ecca1304f22"
            ]
        ]
    },
    {
        "id": "b8d36664c529b795",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 300,
        "y": 760,
        "wires": [
            [
                "ac35902e48a86bb1",
                "2a0954297379b3c8"
            ],
            [
                "fd50e620af43b146"
            ]
        ]
    },
    {
        "id": "1cbc7ddab0c6f00d",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "5887493938479aeb",
                "8ee639485fdcdc26"
            ],
            []
        ]
    },
    {
        "id": "43b1b1ab559d0d8c",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Get State",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "8ee639485fdcdc26"
            ]
        ]
    },
    {
        "id": "981f5a5904631488",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 920,
        "y": 560,
        "wires": [
            [
                "a8c06620afbe9bd6",
                "1bb2ae3e481a7fb3"
            ],
            [
                "c3b45d0ef7be38ef"
            ]
        ]
    },
    {
        "id": "297cb8644357d7a8",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac35902e48a86bb1",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 515,
        "y": 740,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "d68d134b9a6728b9",
        "type": "link in",
        "z": "078e5b931cd81fbd",
        "name": "link in 4",
        "links": [
            "52dfb4e51897c44f",
            "5887493938479aeb",
            "5f6eeb65a61ecb0a",
            "a8c06620afbe9bd6",
            "ac35902e48a86bb1",
            "d00b47946b45cdec",
            "0dbbd20e30661733",
            "a33700e56794540b",
            "f8e166a5926f8ef0"
        ],
        "x": 705,
        "y": 60,
        "wires": [
            [
                "297cb8644357d7a8"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "5887493938479aeb",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 505,
        "y": 560,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "a8c06620afbe9bd6",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 1125,
        "y": 540,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "d00b47946b45cdec",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 1085,
        "y": 740,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "b4f14ab963a7c4b2",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "23ecfdaf3d66d8c9",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "Check it",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sonoff",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "b4f14ab963a7c4b2"
            ]
        ]
    },
    {
        "id": "6081842ac726e400",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "Flow Set",
        "rules": [
            {
                "t": "set",
                "p": "Sonoff.sonoffIP",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Sonoff.sonoffID",
                "pt": "flow",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "23ecfdaf3d66d8c9"
            ]
        ]
    },
    {
        "id": "0f012be6958277f2",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "ON",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switch",
        "payload": "{\"switch\":\"on\"}",
        "payloadType": "json",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "64d70c073022add6"
            ]
        ]
    },
    {
        "id": "72723555b2c61467",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "OFF",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switch",
        "payload": "{\"switch\":\"off\"}",
        "payloadType": "json",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "64d70c073022add6"
            ]
        ]
    },
    {
        "id": "552b19c4c1aee4f3",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "State?",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"switch\":\"state\"}",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "64d70c073022add6"
            ]
        ]
    },
    {
        "id": "eede2f8d59ba1230",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "filter",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.deviceid",
                "pt": "msg",
                "to": "tmp.deviceid",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data.switch",
                "pt": "msg",
                "to": "tmp.switch",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "tmp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "c5e28c75331a88ea"
            ]
        ]
    },
    {
        "id": "c5e28c75331a88ea",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 51",
        "mode": "link",
        "links": [
            "3b3732a3c826380c",
            "7e31458b04a15e99"
        ],
        "x": 825,
        "y": 420,
        "wires": []
    },
    {
        "id": "78fe9ecf9e359484",
        "type": "subflow:f92a0611f953efce",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "0dbbd20e30661733",
                "9bfeaf5a4b200967"
            ],
            []
        ]
    },
    {
        "id": "0dbbd20e30661733",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 52",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 825,
        "y": 380,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "2f89573180d61f51",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Toggle",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switch",
        "payload": "{\"switch\":\"toggle\"}",
        "payloadType": "json",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "64d70c073022add6"
            ]
        ]
    },
    {
        "id": "decd254eb79e4393",
        "type": "switch",
        "z": "078e5b931cd81fbd",
        "name": "",
        "property": "payload.switch",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "3aacbae22907ed7a"
            ],
            [
                "162c388e8a5616ae",
                "78fe9ecf9e359484"
            ],
            [
                "78fe9ecf9e359484"
            ],
            [
                "9bfeaf5a4b200967"
            ],
            [
                "b9f908d3c195e8c0"
            ]
        ]
    },
    {
        "id": "e51edaf6268ed52a",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "wtAf?",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            },
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "switch",
        "payload": "{\"switch\":\"random shit\"}",
        "payloadType": "json",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "64d70c073022add6"
            ]
        ]
    },
    {
        "id": "a33700e56794540b",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 53",
        "mode": "link",
        "links": [
            "d68d134b9a6728b9"
        ],
        "x": 385,
        "y": 420,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "b9f908d3c195e8c0",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "wtAf?",
        "rules": [
            {
                "t": "set",
                "p": "payload.deviceid",
                "pt": "msg",
                "to": "Sonoff.sonoffID",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "a33700e56794540b"
            ]
        ]
    },
    {
        "id": "55d47b97a2be7ccb",
        "type": "change",
        "z": "078e5b931cd81fbd",
        "name": "toggle",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "switch",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload.switch",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "0ff",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.switch",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "0n",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.switch",
                "pt": "msg",
                "from": "0n",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.switch",
                "pt": "msg",
                "from": "0ff",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "78fe9ecf9e359484"
            ]
        ]
    },
    {
        "id": "162c388e8a5616ae",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3a508bf38f6752a",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "STATUS!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e31458b04a15e99",
        "type": "link in",
        "z": "078e5b931cd81fbd",
        "name": "link in 7",
        "links": [
            "d4b37c3217908f8e",
            "08e41b6b38f84749",
            "6ff953e26a3491b4",
            "b3fb5995294a081a",
            "186ceda3c68d6c31",
            "de2851b6e626f350",
            "5fab54d1c8a48e3a",
            "cc422b10b29ae84b",
            "4f6db808dd3b143f",
            "0e454f4c2af11e4e",
            "a240970d14ab8558",
            "c41cf2d35ea7c24f",
            "8eaab68b4bc928a5",
            "a7b7ca071d01ed40",
            "c5e28c75331a88ea",
            "648d754dc810baee"
        ],
        "x": 925,
        "y": 100,
        "wires": [
            [
                "b3a508bf38f6752a"
            ]
        ]
    },
    {
        "id": "d123daaaf9276c9d",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd50e620af43b146",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 54",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 455,
        "y": 780,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "c0bf0ec70e92902e",
        "type": "link in",
        "z": "078e5b931cd81fbd",
        "name": "link in 8",
        "links": [
            "7aad2e202dc40ce3",
            "94359a0df707696a",
            "fd50e620af43b146",
            "08873c5cec97965c",
            "42ced36e01b5eca2",
            "54466ecca1304f22",
            "0ace529f02e7491b",
            "fd2a2a2e4646f0a5",
            "c3b45d0ef7be38ef",
            "0ef47c1713c9350c",
            "a376cb1c87a49f0a"
        ],
        "x": 705,
        "y": 100,
        "wires": [
            [
                "d123daaaf9276c9d"
            ]
        ],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "08873c5cec97965c",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 57",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 445,
        "y": 860,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "54466ecca1304f22",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 59",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 675,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "0ace529f02e7491b",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 60",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 825,
        "y": 340,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "fd2a2a2e4646f0a5",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 61",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 605,
        "y": 440,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "c3b45d0ef7be38ef",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 62",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 1045,
        "y": 580,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "0ef47c1713c9350c",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 63",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 1025,
        "y": 660,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "9bfeaf5a4b200967",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "eede2f8d59ba1230"
            ],
            [
                "fd2a2a2e4646f0a5"
            ]
        ]
    },
    {
        "id": "3aacbae22907ed7a",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "55d47b97a2be7ccb"
            ],
            [
                "0ace529f02e7491b"
            ]
        ]
    },
    {
        "id": "8ee639485fdcdc26",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "2a486f4481614be6"
            ],
            []
        ]
    },
    {
        "id": "1bb2ae3e481a7fb3",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 920,
        "y": 640,
        "wires": [
            [
                "c42232245be4b814"
            ],
            [
                "0ef47c1713c9350c"
            ]
        ]
    },
    {
        "id": "b5b0065219011611",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Get State",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 720,
        "y": 660,
        "wires": [
            [
                "1bb2ae3e481a7fb3"
            ]
        ]
    },
    {
        "id": "0591904ec0b062ef",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Get State",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "2a0954297379b3c8"
            ]
        ]
    },
    {
        "id": "2a0954297379b3c8",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "474c9b22a91688e1"
            ],
            [
                "08873c5cec97965c"
            ]
        ]
    },
    {
        "id": "0f8891ad40d1be58",
        "type": "inject",
        "z": "078e5b931cd81fbd",
        "name": "Get State",
        "props": [
            {
                "p": "Device",
                "v": "Sonoff",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 700,
        "y": 840,
        "wires": [
            [
                "a11b9fcece3ae8e5"
            ]
        ]
    },
    {
        "id": "a11b9fcece3ae8e5",
        "type": "subflow:ccab8793870fae40",
        "z": "078e5b931cd81fbd",
        "name": "",
        "x": 860,
        "y": 840,
        "wires": [
            [
                "0d80f5df7b18505f"
            ],
            [
                "a376cb1c87a49f0a"
            ]
        ]
    },
    {
        "id": "a376cb1c87a49f0a",
        "type": "link out",
        "z": "078e5b931cd81fbd",
        "name": "link out 64",
        "mode": "link",
        "links": [
            "c0bf0ec70e92902e"
        ],
        "x": 1005,
        "y": 860,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "ac2d9823a6614957",
        "type": "debug",
        "z": "078e5b931cd81fbd",
        "name": "debug 90",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    }
]
